
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "fontawesome/_font-awesome";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
.loader-wrapper {
    text-align: center;
    >div {
        display: inline-block;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-entry-date {
    font-style: italic;
}

.modal-entry-author {
    color: $primary-color;
}

.modal-entry-content-wrapper {
    display: block;
    overflow-y: scroll;
    max-height: 400px;
}